<launch>
  <!-- Model to use can be path or one of the types e.g. '/path/to/checkpoint.pt' or 'base.en'-->
  <arg name="whisper_model" default="tiny.en"/>
  <arg name="silence_db" default="35"/>

  <!-- playback audio -->
  <arg name="debug" default="false"/>
  <arg name="debug_device" default=""/>

  <!-- arecord -l will show available input devices, use the card number as
      the first number and the subdevice number as the second in a string
      like hw:1,0 -->
  <arg name="dst" default="appsink"/>
  <arg name="device" default=""/>
  <arg name="format" default="wave"/>
  <arg name="bitrate" default="128"/>
  <arg name="channels" default="1"/>
  <arg name="depth" default="16"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="sample_format" default="S16LE"/>

  <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="dst" value="$(arg dst)"/>
    <param name="device" value="$(arg device)"/>
    <param name="format" value="$(arg format)"/>
    <param name="bitrate" value="$(arg bitrate)"/>
    <param name="channels" value="$(arg channels)"/>
    <param name="depth" value="$(arg depth)"/>
    <param name="sample_rate" value="$(arg sample_rate)"/>
    <param name="sample_format" value="$(arg sample_format)"/>
  </node>

  <node name="silero_vad" pkg="silero_vad" type="silero_vad_node" output="screen">
    <param name="model_or_path" value="$(arg whisper_model)"/>
    <param name="silence_db" value="$(arg silence_db)"/>
  </node>

  <!-- playback audio -->
  <group if="$(arg debug)">
    <node name="audio_play" pkg="audio_play" type="audio_play" output="screen">
      <remap from="audio" to="/silero_vad/vad" />
      <param name="dst" value="alsasink"/>
      <param name="device" value="$(arg debug_device)"/>
      <param name="do_timestamp" value="False"/>
      <param name="format" value="$(arg format)"/>
      <param name="channels" value="$(arg channels)"/>
      <param name="depth" value="$(arg depth)"/>
      <param name="sample_rate" value="$(arg sample_rate)"/>
      <param name="sample_format" value="$(arg sample_format)"/>
    </node>
  </group>

</launch>