SUBSYSTEM=="usb", ATTR{idProduct}=="0018", ATTR{idVendor}=="2886", MODE:="0666"
SUBSYSTEM=="usb", ATTR{idProduct}=="001A", ATTR{idVendor}=="2886", MODE:="0666"
