<launch>
  <!-- playback audio -->
  <arg name="device" default="hw:1,0"/>

  <arg name="dst" default="appsink"/>
  <arg name="format" default="wave"/>
  <arg name="channels" default="1"/>
  <arg name="depth" default="32"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="sample_format" default="F32LE"/>
  <arg name="topic" default="/silero_vad/vad"/>

  <node name="audio_play" pkg="audio_play" type="audio_play" output="screen">
    <remap from="audio" to="$(arg topic)" />
    <param name="dst" value="alsasink"/>
    <param name="device" value="$(arg device)"/>
    <param name="do_timestamp" value="False"/>
    <param name="format" value="$(arg format)"/>
    <param name="channels" value="$(arg channels)"/>
    <param name="depth" value="$(arg depth)"/>
    <param name="sample_rate" value="$(arg sample_rate)"/>
    <param name="sample_format" value="$(arg sample_format)"/>
  </node>
  

</launch>